
        .hero {
            height: 100vh;
            background: url('./img/por-sol-com-belas-nuvens-perto-de-fort-pembroke-em-guernsey.jpg') center/cover no-repeat;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #fff;
        }

       
        .hero::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 20, 40, 0.55);
        }

        
        .hero-content {
            position: relative;
            z-index: 10;
        }


        .topbar {
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            z-index: 20;
            padding: 0 40px;
        }

            .search-btn {
            background: #ff6600;
            color: #fff;
            height: 5vh;
            width: 90wh;
            border-radius: 8px;
            padding: 0 25px;
        }

        .search-box {
            background: rgba(0, 0, 20, 0.6);
            padding: 15px;
            border-radius: 12px;
            backdrop-filter: blur(4px);}

            
    .object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.city-card-img {
  height: 230px;
  position: relative;
  overflow: hidden;
}

.city-card-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
}


.destaque-img {
  height: 210px;
  overflow: hidden;
  position: relative;
}


.badge-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  display: flex;
  gap: 6px;
}

.destaque-badge {
  background: #ff7a00;
  color: #fff;
  font-size: 0.7rem;
  padding: 6px 10px;
  border-radius: 20px;
}


.card-body ul li {
  margin-bottom: 4px;
  font-size: 0.92rem;
}


.card {
  border-radius: 8px;
}

.bg-dark-blue {
  background: #0f2545;
}

.footer-dark {
  background: #0f2545;
}


.ex-img {
  height: 200px;
  overflow: hidden;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge-orange {
  background: #ff7a00;
  color: #fff;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 0.7rem;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-right: 5px;
}


.about-box {
  border-radius: 12px;
}

.about-img {
  max-height: 360px;
  object-fit: contain;
}


.lower-card {
  position: relative;
}

.lower-img {
  height: 200px;
}

.lower-card .card-body {
  position: absolute;
  bottom: 15px;
  left: 20px;
}


.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
